<app-admin-dashboard></app-admin-dashboard>
<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <div id="accordion-nested-collapse" data-accordion="collapse">
            <h2 id="accordion-nested-collapse-heading-1">
                <button type="button"
                    class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                    data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false"
                    aria-controls="accordion-nested-collapse-body-1">
                    <span>Create Teams for the Project</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-nested-collapse-body-1" class="hidden"
                aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">


                    <div class="p-4">
                        <p class="text-2xl font-bold text-center mt-14 mb-2"> Create Teams For The Project
                        </p>

                        <form #projectForm="ngForm" (ngSubmit)="createTeam()"
                            class="max-w-lg mx-auto bg-white rounded-lg p-6 shadow-md">
                            <div class="mb-4">
                                <label for="name" class="block text-gray-600 text-sm font-medium">Team Name
                                </label>
                                <input type="text" id="title" name="title" [(ngModel)]="teamToBeCreated.name" required
                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
                            </div>


                            <div class="mb-4">
                                <label for="selectedUser" class="block text-gray-600 text-sm font-medium">Users</label>
                                <select name="selectedUser"
                                    (change)="addUserToTeam(availableUsers[dropDown.selectedIndex-1])" #dropDown
                                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
                                    <option>Choose Available Users </option>
                                    <option *ngFor="let user of availableUsers" [value]="user">{{ user.name
                                        }}</option>
                                </select>
                            </div>



                            <button type="submit"
                                class="w-full bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium rounded-lg px-3 py-2 focus:ring focus:ring-blue-300">
                                Save Project
                            </button>

                            <ul class="mb-4">
                                <li *ngFor="let user of teamToBeCreated.usersToBeAdded; let i = index"
                                    class="flex items-center justify-between px-3 py-2 bg-blue-100 text-blue-700 border border-blue-300 rounded-lg mb-2">
                                    {{ user }}
                                    <button type="button" (click)="removeUserFromTeam(i)"
                                        class="text-sm font-medium text-red-600 focus:ring focus:ring-red-300">Remove</button>
                                </li>
                            </ul>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="border" size="medium"></ngx-spinner>