.demo-table {
    width: 60%;
    margin: auto;
  }
  
  .mat-column-Id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-Project_Name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-Description {
    font-style: italic;
  }
  
  .mat-column-Start_Date, .mat-column-End_Date{
    
    text-align: center;
    font-weight: bold;
  }
  