<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="flex ml-2 md:mr-24">
            <img class="h-8 mr-3" src="https://flowbite.com/docs/images/logo.svg" alt="">
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
                Project Grid
            </span>
          </a>
        </div>
        <div class="lg:flex lg:gap-x-12">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Projects</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Tasks</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Notifications</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end gap-4">
          <a href="/register" class="text-sm font-semibold leading-6 text-gray-900"><span aria-hidden="true">&larr;</span>Sign Up </a>
          <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Sign In<span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
   
    </header>
  
    <div class="relative isolate px-6 pt-5 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Platform to enrich your work experience</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Project-Grid is a project management tool that lets you get everything regarding your project under your wrist, whether it could be creating project, creating manager, assign them to project, sendi…</p>
          <p class="mt-6 text-lg leading-8 text-gray-600">This Project is in developement, however you can explore, you can only sign-in as user and currently working on admin side, use <span class="font-bold">admin@gmail.com</span> as email and <span class="font-bold">1234</span> as password to login as an admin.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="login" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>