<!-- <p>admin-auths works!</p> -->
<!-- <app-navigation></app-navigation> -->
<mat-toolbar color="primary">
    <span>ProjectHub</span>
    <div>
    <button mat-button routerLink="/">Dashboard</button>
    <button mat-button routerLink="/projects">Projects</button>
    <button mat-button routerLink="/users">Users</button>
    <button mat-button routerLink="/admin">Admin</button>
    <button mat-button routerLink="/registration">Register</button>
    <button mat-button routerLink="/loginout">Logout</button>
    </div>
    
    <!-- <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button> -->
  </mat-toolbar>

  <app-project-management></app-project-management>