<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
   
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
     
     <div class="flex items-center justify-between">
       
        <div class="flex items-center justify-start">
           <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
              type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                 </path>
              </svg>
           </button>
           <a href="#" class="flex ml-2 md:mr-24">
              <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="FlowBite Logo" />
              <span
                 class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Project-Grid</span>
           </a>
        </div>


        <div class="flex items-center">
           <div class="flex items-center ml-3">
              <div>
                 <button type="button"
                    class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                    aria-expanded="false" data-dropdown-toggle="dropdown-user">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" [src]="responseUsers.profile_picture" alt="user photo">
                 </button>
              </div>
              <div
                 class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                 id="dropdown-user">
                 <div class="px-4 py-3" role="none">
                    <p class="text-sm text-gray-900 dark:text-white" role="none">
                       {{responseUsers.name}}
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                       {{responseUsers.email}}
                    </p>
                 </div>
                 <ul class="py-1" role="none">
                    <li>
                       <a href="#"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">Dashboard</a>
                    </li>
                    <li>
                       <a href="#"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">Settings</a>
                    </li>
                    <li>
                       <a href="#"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">Projects</a>
                    </li>
                    <li>
                       <a href="#"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">About Me</a>
                    </li>
                    <li>
                       <a href="#login"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem">Sign In</a>
                    </li>
                    <li>
                       <a href="#"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                          role="menuitem" (click)="logOutUser()">Sign out</a>
                    </li>
                 </ul>
              </div>
           </div>
        </div>

     </div>
 
  </div>

</nav>

<!-- Side Bar -->

<aside id="logo-sidebar" 
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
     <ul class="space-y-2 font-medium">
        <!-- DashBoard -->
        <li>
           <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                 class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                 <path
                    d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                 <path
                    d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
              </svg>
              <span class="ml-3">Dashboard</span>
           </a>
        </li>
        <!-- All Projects  -->
        <li>
           <a routerLink="/project"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                 class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                 <path
                    d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">All Projects</span>
              <span
                 class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">3</span>
           </a>
        </li>
        <!-- Create New Project -->
        
        <li>
           <a routerLink="/createNewProject"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                 class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                 <path
                    d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Create New Project</span>
              <span
                 class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
           </a>
        </li>

        <!-- Sign In -->
        <li>
           <a href="#login"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                 class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
           </a>
        </li>
        <!-- Sign Out -->
        <li>
           <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
              <svg
                 class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap" (click)="logOutUser()">Sign Out</span>
           </a>
        </li>
     </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <p class="text-2xl font-bold text-center mt-14 mb-2">Create a New Project</p>

  <form #projectForm="ngForm" (ngSubmit)="saveProject()" class="max-w-lg mx-auto bg-white rounded-lg p-6 shadow-md">
    <div class="mb-4">
      <label for="name" class="block text-gray-600 text-sm font-medium">Project Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="projectToBeCreated.name" required
             class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
    </div>
  
    <div class="mb-4">
      <label for="description" class="block text-gray-600 text-sm font-medium">Project Description</label>
      <textarea id="description" name="description" [(ngModel)]="projectToBeCreated.description"
                class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300"></textarea>
    </div>
  
    <div class="mb-4">
      <label for="start_date" class="block text-gray-600 text-sm font-medium">Start Date</label>
      <input type="date" id="start_date" name="start_date" [(ngModel)]="projectToBeCreated.start_date" required
             class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
    </div>
  
    <div class="mb-4">
      <label for="end_date" class="block text-gray-600 text-sm font-medium">End Date</label>
      <input type="date" id="end_date" name="end_date" [(ngModel)]="projectToBeCreated.end_date" required
             class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
    </div>
  
    <div class="mb-4">
      <label for="name" class="block text-gray-600 text-sm font-medium">Project Logo</label>
      <input type="text" id="name" name="name" [(ngModel)]="projectToBeCreated.project_logo" required
             class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
    </div>
  
    <div class="mb-4">
      <label for="selectedUser" class="block text-gray-600 text-sm font-medium">Users</label>
      <select name="selectedUser" (change)="addUser(availableUsers[usersDropdown.selectedIndex-1])" #usersDropdown
              class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
         <option  >Choose Available Users </option>
        <option *ngFor="let user of availableUsers" [value]="user">{{ user.name }}</option>
      </select>
    </div>
  
    
  
    <button type="submit"
            class="w-full bg-blue-500 hover:bg-blue-600 text-white text-sm font-medium rounded-lg px-3 py-2 focus:ring focus:ring-blue-300">
      Save Project
    </button>
 
    <ul class="mb-4">
     <li *ngFor="let user of projectToBeCreated.toAddUsers; let i = index"
         class="flex items-center justify-between px-3 py-2 bg-blue-100 text-blue-700 border border-blue-300 rounded-lg mb-2">
       {{ user }}
       <button type="button" (click)="removeUser(i)"
               class="text-sm font-medium text-red-600 focus:ring focus:ring-red-300">Remove</button>
     </li>
   </ul>
  </form>
</div>

 