<mat-toolbar color="primary">
    <span>ProjectHub</span>
    <div>
    <button mat-button routerLink="/">Dashboard</button>
    <button mat-button routerLink="/admin">Admin</button>
    <button mat-button routerLink="/">Dashboard</button>
    <button mat-button routerLink="/registration">Register</button>
    <button mat-button routerLink="/register">Login</button>
    </div>
    
    <!-- <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/register">Register</button> -->
  </mat-toolbar>
  
<div>

</div>

<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
      </button>
     <span>ProjectHub Dashboard</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/registration">Registration</button>
        <button mat-menu-item routerLink="/projects">Projects</button>
        <button mat-menu-item routerLink="/teams">Teams</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar> -->
  
  